<template>
  <div class="todo-list-wrapper">
    <div class="inputs">
      <textarea
        name="add-todo"
        id="add-todo-input"
        cols="30"
        rows="3"
        placeholder="Type to add todo"
        v-model="todoDescription"
      ></textarea>
      <button @click="addTodo" class="add-todo-button">Add Todo</button>
    </div>

    <div class="list">
      <h3>Todo List</h3>
      <ul v-if="todoList.length">
        <li id="todo-item" v-for="todo in todoList" :key="todo.id">
          {{ todo.id }}-){{ todo.description }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
/*-
Below listed things can be done but in assesment you are saying;
  "so we are highly suggesting you to focus on the processes itself instead of struggling on tiny details"  
  --urls should be moved to config files
  --error handling should be addded
* */
import axios from "axios";
export default {
  name: "TodoList",
  data() {
    return {
      todoList: [],
      todoDescription: "",
    };
  },
  mounted() {
    this.getAllTodosFromDb();
  },
  methods: {
    async getAllTodosFromDb() {
      const todoList = await axios.get("http://127.0.0.1:5000/api/todolist/");
      this.todoList = todoList.data.todolists;
    },
    async addTodo() {
      await axios.post("http://127.0.0.1:5000/api/todolist/", {
        description: this.todoDescription,
        id: this.todoList.length + 1,
      });
      await this.getAllTodosFromDb();
      this.todoDescription = "";
    },
  },
};
</script>

<style scoped lang="scss">
.todo-list-wrapper {
  height: 100vh;
  .inputs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .add-todo-button {
      appearance: none;
      background-color: black;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      padding: 10px;
      margin-left: 10px;
    }
  }

  .list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 5% 0 0 39%;
    ul {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      li {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}
</style>
